<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row">
                <label class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required
                        minlength="4" #nombre="ngModel">
                    <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                        <div [hidden]="!nombre.errors?.['required']">
                            Nombre es requerido
                        </div>
                        <div [hidden]="!nombre.errors?.['minlength']">
                            Nombre debe tener al menos 4 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel">
                    <div *ngIf="apellido.errors && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                        <div [hidden]="!apellido.errors?.['required']">
                            Apellido es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel" minlength="5">
                    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors?.['required']">
                            Email es requerido
                        </div>
                        <div [hidden]="!email.errors?.['minlength']">
                            Email debe tener al menos 5 caracteres
                        </div>
                        <div [hidden]="!email.errors?.['email']">
                            Email no es valido
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" (click)="create()"
                        *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Guardar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
