<div class="card bg-light mb-3">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <button type="button" class="btn btn-secondary my-2" routerLink="/students">Volver</button>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" placeholder="Nombre" class="form-control" [(ngModel)]="student.name">
      </div>
      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" name="lastname" placeholder="Apellido" class="form-control" [(ngModel)]="student.lastname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="student.email">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary my-2" routerLink="/students" (click)="save()">Guardar</button>
      </div>
    </form>
  </div>
</div>
